*, *::before, *::after { box-sizing: border-box; padding: 0}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desat-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);
    --white: hsl(0, 0%, 100%);
    --gray-blue: hsl(210, 4%, 67%);
    --dark-gray-blue: hsl(232, 10%, 55%);
    --very-dark-gray-blue: hsl(213, 9%, 39%);
    --very-dark-desat-blue: hsl(212, 27%, 19%);
}

body {
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Fraunces', serif; */
    font-size: 18px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; margin-top: 2em; color: var(--dark-desat-cyan);}
.attribution a { color: var(--dark-mod-cyan); }

.container {
    padding: 1em 0;
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    line-height: 1.5rem;
}

h2 {
    font-family: 'Fraunces', serif;;
}

header .container {
    width: 90%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* .overlay {
    inset: 0;
    background-color: var(--very-dark-blue);
    position: absolute;
    opacity: 0.5;
    display: none;
} */

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list_group {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.nav_item {
    cursor: pointer;
    color: var(--white);
    font-size: .875rem;
}

.contact_btn {
    background-color: var(--white);
    font-family: 'Fraunces', serif;
    color: var(--very-dark-blue);
    padding: 1em 1.5em;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
    transition: 0.15s;
}

.contact_btn:hover {
    background-color: rgba(255, 255, 255, 0.289);
    color: var(--white);
}

/* hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--white);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hero_mobile {
    display: none;
}


/* hero section */
.hero {
    background-image: url('/images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.hero_text {
    text-align: center;
    color: var(--white);
    font-family: 'Fraunces', serif;
    font-size: 3.5rem;
    letter-spacing: .2em;
    font-weight: 900;
}

.icon-arrow-down {
    text-align: center;
    margin-top: 4.8em;
}

.section_flex {
    display: flex;
}

.transform_text {
    padding: 8em;
    width: 50%;
}

.tranform_img {
    background-image: url("/images/desktop/image-transform.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-color: var(--yellow);
}

.standout_img {
    background-image: url("/images/desktop/image-stand-out.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    background-color: var(--soft-red);
}

.section_heading {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desat-blue);
    font-weight: 900;
    font-size: 2.25rem;
    margin-bottom: 1em;
    width: 85%;
}

.section_sub {
    color: var(--dark-gray-blue);
    font-size: 1rem;
    width: 85%;
    line-height: 1.7rem;
}

.learn-more {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desat-blue);
    font-size: .75rem;
    margin-top: 2.5em;
    font-weight: 800;
    letter-spacing: .15em;
    cursor: pointer;
}

.learn-more::after {
    height: .7em;
    background-color: #f6f1ba;
    content: "";
    width: 9.35em;
    margin-top: -.9em;
    margin-left: -.45em;
    display: block;
    border-radius: 7px;
}

.learn-more_transform:hover::after {
    background-color: var(--yellow);
}

.learn-more_standout::after {
    background-color: #f4dad6;
}

.learn-more_standout:hover::after {
    background-color: var(--soft-red);
}

.graphic_design {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    padding: 24em 0 4em;
}

.photography {
    background-image: url('./images/desktop/image-photography.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    padding: 24em 0 4em;
}

.section_heading2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.75rem;
    margin-bottom: 1em;
    text-align: center;
}

.graphic_head,
.graphic_sub {
    color: var(--dark-desat-cyan);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7rem;
}

.photography_head,
.photography_sub {
    color: var(--dark-blue);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8rem;
}

.section_sub2 {
    text-align: center;
    font-size: 1rem;
    width: 45%;
}

.testimonial_section {
    padding: 4em 0;
}

.testimonial_heading {
    text-transform: uppercase;
    color: var(--gray-blue);
    letter-spacing: .3em;
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
}

.testimonial_flex {
    display: flex;
    width: 75%;
    margin: 2em auto;
    gap: 1.2em;
}

.testimonial {
    text-align: center;
    padding-top: 2em;
}

.testimonial_avatar {
    border-radius: 50%;
    width: 70px;
}

.testimonial_text {
    margin: 2em auto;
    color: var(--very-dark-gray-blue);
    font-size: 1rem;
    line-height: 1.7rem;
    width: 90%;
}

.testimonial_name {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desat-blue);
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: .2em;
}

.testimonial_title {
    color: var(--gray-blue);
    font-size: .8rem;
}

.gallery {
    display: grid;
    grid-template-areas: 'a b c d';
}

.gallery1 {
    grid-area: a;
}
.gallery2 {
    grid-area: b;
}
.gallery3 {
    grid-area: c;
}
.gallery4 {
    grid-area: d;
}

.gallery1_mobile, .gallery2_mobile, .gallery3_mobile, .gallery4_mobile { display: none;}

.footer {
    background-color: #8fd6c8;
    text-align: center;
    padding-bottom: 1em;
}

.footer-logo {
    filter: invert(25%) sepia(79%) saturate(278%) hue-rotate(116deg) brightness(33%) contrast(92%);
    margin-top: 3em;
    width: 150px;
}

.footer-nav {
    display: flex;
    gap: 3em;
    margin: 1.5em auto 3em;
    width: fit-content;
    list-style: none;
    color: var(--dark-desat-cyan);
}

.footer-nav_item {
    font-size:.8751rem;
    cursor: pointer;
    transition: 0.15s;
}

.social-nav {
    display: flex;
    gap: 1.5em;
    margin: 0 auto 3em;
    width: fit-content;
    list-style: none;
    color: var(--dark-desat-cyan);
}

.social-nav_item {
    cursor: pointer;
    transition: 0.15s;
}

.footer-nav_item:hover,
.social-nav_item:hover {
    color: var(--white);
}

/* mobile responsiveness */

@media (max-width: 375px) {
    header .container {
        width: 95%;
        padding: .5em 0;
    }

    /* hamburger styling */
    .hamburger {
        display: block;

    }

    .bar {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .container {
        padding: 1em 0;
        margin: 0 auto;
        width: 95%;
    }

    .nav_list_group {
        position: fixed;
        font-weight: 500;
        font-size: 1rem;
        flex-direction: column;
        inset: 13% 5% 0 5%;
        padding: min(30vh, 6em) 1.5em;
        background-color: var(--white);
        height: 60%;
        margin: 0;
        transition: 0.3s;
        transform: translateX(110%);
        -webkit-clip-path: polygon(90% 8%, 100% 0, 100% 100%, 0 100%, 0 8%);
        clip-path: polygon(90% 8%, 100% 0, 100% 100%, 0 100%, 0 8%);
    }

    .nav_item {
        color: var(--very-dark-gray-blue);
        font-size: 1.125rem;
    }

    .nav_list_group.active{
        transform: translateX(0%);
    }

    .contact_btn {
        background-color: var(--yellow);
        color: var(--very-dark-bluedark-blue);
        border-radius: 30px;
        font-size: 1rem;
    }

    .hero {
        background-image: url('/images/mobile/image-header.jpg');
    }

    .hero_text {
        font-size: 2.6rem;
        margin-top: 2em;
    }

    .section_flex {
        flex-direction: column;
    }

    .section_sub,
    .section_heading {
        width: 95%;
    }

    .transform_flex {
        flex-direction: column-reverse;
    }

    .transform_text {
        padding: 2.5em 2em;
        width: 100%;
        text-align: center;
    }

    .learn-more::after {
        margin-left: auto;
        margin-right: auto;
    }

    .tranform_img {
        background-image: url('/images/mobile/image-transform.jpg');
        width: 100%;
        height: 300px;
    }

    .standout_img {
        background-image: url('/images/mobile/image-stand-out.jpg');
        width: 100%;
        height: 300px;
    }

    .photography,
    .graphic_design {
        width: 100%;
    }

    .graphic_design {
        background-image: url('/images/mobile/image-graphic-design.jpg');
    }

    .photography {
        background-image: url('/images/mobile/image-photography.jpg');
    }

    .section_sub2 {
        width: 90%;
    }

    .testimonial_flex {
        flex-direction: column;
        width: 80%;
    }

    .testimonial_heading {
        font-size: 1.125rem;
    }

    .testimonial_text {
        width: 100%;
    }

    .gallery {
        grid-template-areas:
        'a b'
        'c d';
    }

    .gallery1, .gallery2, .gallery3, .gallery4 { display: none;}

    .gallery1_mobile, .gallery2_mobile, .gallery3_mobile, .gallery4_mobile { display: block;}
}